@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat Alternates';
	src: url('MontserratAlternates-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}